.card-canal {
  background-color: #f1f1f1;
  padding: 8px 20px;
  width: 270px;
  text-align: center;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  
  .logo-sbt {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
  }
}